/* Met les marges sur les côtés des titres + alignement centre*/
.article__htitre {
    text-align: center;
    font-family: var(--police--titre);
    color: var(--header-article);
    margin-top: 56px;
    margin-bottom: 27px;
    font-size: 48px;
  }

.article__shtitre{
    font-family: var(--police--soustitre);
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: 7px;
}
/* Met les marges sur les côtés des légendes */
  .article figcaption{
    font-family: var(--texte--article);
    font-size: 14px;
    margin: 0px 20px;
    text-align: center;
  }
/* Met les marges sur les côtes des paragraphes dans "article" */
.article__section p,
.article__intro{
    font-family: var(--texte--article);
    font-size: 20px;
    margin: 0px 15px 25px 20px;
  }

/* Image modification taille */ 

.article img {
  display:block;
  position: relative;
  right: 24px;
}

figure img {
  position: relative;
  right:30px;
}

.article figure>blockquote>q,
.article figure>q {
  font-size: 21px;
  font-family: var(--texte--frise);
}
blockquote{
  margin-right: 0px;
  margin-left: 0px;
  text-align: center;
}

/* Marguerite Durand id */
.article__intro{
  font-family: var(--texte--article);
  margin-top: 10px;
}

#quote1{
  margin:50px 0px;
  text-align: center;
  font-size: 21px;
  font-family: var(--texte--frise);
}

#introM{
  top: 31px;
  position: relative;
}

/* Oprah Winfrey id */
#introO{
position: relative;
top: 26px;
}

#imgO1 {
  position: relative;
  left: 52px;

}
#imgO2 {
  position: relative;
  left: 13px;
}
#imgO3 {
  width: 145%;
}
#imgO4 {
  position: relative;
  right: 60px;  
}