/* permet d'annuler la mise en forme des bouton qu'applique le navigateur. */
button {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
  }
  
  /* Pour enlever l'apparence par défaut des listes */
  .list-unstyled {
    list-style: none;
    padding: 0;
    margin: 0;
  }

/* Enlever la mise en forme des liens hypertextes du menu burger + couleur */
.header__menu a:link,
.header__menu a:visited {
  text-decoration: none;
  color: var(--couleur-menu-burger);
}


.def {
  margin: 20px 20px;
  font-family: var(--texte--article);
}

.def strong {
  font-family: var(--texte--frise);
}

#htitre{
  text-align: center;
  font-family: var(--police--titre);
  color: var(--header-article);
  margin-top: 56px;
  margin-bottom: 27px;
  font-size: 48px;
  margin-top: 109px;
}
#htitre1{
  text-align: center;
  font-family: var(--police--titre);
  color: var(--header-article);
  margin-top: 56px;
  margin-bottom: 27px;
  font-size: 48px;
  margin-top: 420px
}


#video{
  left: 30px;
  position: relative;
  margin-bottom: 84px;

}