:root {
    

/* Color styles */
--header-article: rgba(74, 35, 90, 1);
--couleur-menu-burger: rgba(108, 52, 131, 1);
--texte-noir: rgba(0, 0, 0, 1);
--texte-blanc: rgba(255, 255, 255, 1);
--para-text: rgba(0,0,0,0.67);

/* Polices */
--police--soustitre: 'poetsen-one';
--police--titre: 'poetsen-one';
--texte--article: 'brandon grotesque-light' ;
--texte--frise: 'brandon grotesque-black' ;

/* Tailles de police de caractère */
--title-xxl: 2.25rem;
--title-xl: 1.5rem;
--title-lg: 1.125rem;
--text-xxl: 3rem;
--text-xl: 1.375rem;
--text-md: 0.813rem;
--text-sm: 0.688rem;
--width: 20em;

/* Font variantes */
--letter-spacing: 0.05em;

/* Espaces */
--space1x: 8px;
--space2x: 16px;
--space3x: 24px;
--space4x: 48px;
--space5x: 80px;

}
