.header-home {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    z-index: 5;
    justify-content: space-between;
    transition: all .3s ease-in-out;

    height: 65px;
}

.header-home__end{
    display: flex;
}
.header-home__logo{
    position: relative;
    width: 86px;
    height: auto;
    left: 12px;
    top: 9px;
}


/* Header des autres pages */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 6;
    background: #AF64CE;
    display: flex;
    padding: 5px 6px 10px 15px;
    justify-content: space-between;
    transition: all .3s ease-in-out;
  }
  
  
  .header__title {
    position: relative;
    right: 6px;
    top: 13px; 
  }
  
  
  .header__logo {
    display: block;
    position: relative;
    width: 69px;
    height: auto;
  }
