
/* Mise en forme des cards */

.SectionCards,
.SectionCards img{
  box-sizing: border-box;
}
.SectionCards img{
  width: 100%;
  border: 6px solid #4A235A;
  border-radius: 10px;
}
.SectionCards{
  width: var(--width);
  background: white;
  padding: 20px;
  border-radius: 10px;
  border: 14px outset #4A235A;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:40px;
}
.SectionCards h3{
  font-size: 34px;
  color: #4A235A;
  text-align: center;
  font-family: var(--police--titre);
}
.SectionCards p{
  font-family: var(--texte--article);
  color: var(--para-text);
  font-size: 16px;
}
.sujet{
  font-size: 16px;
}
.hcards{
  color: #fff;
}

.SectionCards a{
  text-decoration: none;
  color: #AF64CE;
  font-family: var(--police--titre);
  font-weight: 700;
  left: 177px;
  position: relative;
  font-size: 18px;
}


/* Cards autres projets */


.aproj {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #f7f8fc;
    font-family: var(--texte--frise);
    color: #10182f;
    box-sizing: border-box;
  }
  .aprojContainer {
    display: flex;
    width: 1040px;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .aprojCard {
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 242px;
    height: auto;
  }
  .aprojCard-header img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .aprojCard-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    padding-top: 9px;

  }
  .aprojCard-desc h3{
    margin-top: 0px;
    text-align: center;
    font-family: var(--police--soustitre);
    color: #4A235A;
    margin-right: auto;
    margin-left: auto;
  }
  .util {
    display: flex;
    margin-top: auto;
    margin-left: 23px;
  }

  .aprojCard-desc a{
    text-decoration: none;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    text-align: center;
  }
  
  .util img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  .info-util h5 {
    margin: 0;
    height: 15.3px;
    top: 10px;
    position: relative;
  }


.htitre {
    text-align: center;
    font-family: var(--police--titre);
    color: var(--header-article);
    margin-top: 56px;
    margin-bottom: 27px;
    font-size: 48px;
    margin-top: 104px;
}

.aprojtexte{
    font-family: var(--texte--article);
    font-size: 20px;
    margin: 0px 15px 25px 20px;
}